{% extends "layout.html" %}

{% load static %}

  <!-- Navbar Block -->
  {% block navbar %}
    {% include "navbar.html" %}
  {% endblock %}

    <!-- Main Content Block -->
  {% block body %}

    <div class=" container text-center my-5">

        <h2>Edit Workout: {{ workout.custom_name }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class=" px-4 py-2 rounded">Save Changes</button>
            <button class=" px-4 py-2 rounded"><a href="{% url 'manage_workouts' %}" class="ml-4 text-gray-600">Cancel</a></button>
        </form>

    </div>
    
  {% endblock %}

  <!-- Footer Block -->
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
