{% extends "layout.html" %}

{% load static %}


<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}


<!--Main Content-->
{% block content %}
<div class="container text-center my-5">
    <h2>Profile</h2>

    <div style="background-color: rgba(240, 248, 255, 0.5)">

    <p><strong>Username:</strong> {{ user.username }}</p><!-- User information -->
    <p><strong>Email:</strong> {{ user.email }}</p>

    </div>
    <button>
        <a href="{% url 'update_profile' %}">Update your profile</a><!-- Link to update profile -->
    </button>
</div>
{% endblock %}
<!--ends here-->


<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}