{% extends "layout.html" %}

{% load static %}

  <!-- Navbar Block -->
  {% block navbar %}
    {% include "navbar.html" %}
  {% endblock %}

  <!-- Main Content Block -->
  {% block body %}
  
    <div class="container mt-1">
      <h3 class="text-center mb-4" style="background-color: rgba(240, 248, 255, 0.5);">Start your workout Now for the Olympic Body you would like!</h3>

      <div class="row g-4 justify-content-center align-items-center">

        {% if user.is_authenticated %}
        <div class="col-md-6 col-lg-4 m-3">
            <div class="card text-center">
              <a href="{% url 'ask_question' %}">
                <h3> Ask Questions to the Trainers</h3>
                <img src="{% static 'images/Olympic gym kettlebell.png' %}" class="card-img-top mx-auto mt-3" alt="Kettlebell " style="width: 400px; height: auto;">
              </a>
            </div>
        </div>     
        {% endif %}

        <div class="col-md-6 col-lg-4 m-3">
          <div class="card text-center">
            <a href="{% url 'workout_list' %}">
              <h3> Workout List </h3>
              <img src="{% static 'images/WeneedYou.png' %}" class="card-img-top mx-auto mt-3" alt="Kettlebell " style="width: 400px; height: auto;">
            </a>
          </div>
        </div>
        
      </div>
    </div>


  {% endblock %}

 <!-- Footer Block -->
  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
