{% extends "layout.html" %}

{% load static %}

<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

<!--Main Content-->
{% block body %}
    <!-- Create a Workout List for sorting them. -->
    <div class="container text-center">
        <h1 style="background-color: rgba(240, 248, 255, 0.5)" >Workout List</h1>
        <form method="get">

            <label>Search:</label>
            <input type="text" name="s" placeholder="Search workout name">
        
            <label>Type:</label>
            <select name="type">
                <option value="">All</option>
                <option value="cardio">Cardio</option>
                <option value="strength">Strength</option>
                <option value="flexibility">Flexibility</option>
                <option value="balance">Balance</option>
            </select>

            <label>Minimum Duration:</label>
            <input type="number" name="min_duration">
            
            <label>Maximum Duration:</label>
            <input type="number" name="max_duration">

            <label>Difficulty (1-5):</label>
            <input type="number" name="difficulty" min="1" max="5">

            <button type="submit" class="btn btn-primary" >Filter</button>
            
            {% if user.is_authenticated %}
                <button><a href="{% url 'create_workout' %}">+ Add New Workout</a></button>
            {% endif %}
            
        </form>

        <ul class="container text-center"> <!-- Votes for the Like/Dislike -->
            {% for workout in workout %}
                <li>
                    {{ workout.custom_name }} | {{ workout.type }} | {{ workout.duration }} min | Difficulty: {{ workout.get_difficulty_display }} 
                  
                    Likes: {{ workout.likes }} 
                    <a href="{% url 'vote_workout' workout.id 'like' %}">👍</a>
                  
                    Dislikes: {{ workout.dislikes }} 
                    <a href="{% url 'vote_workout' workout.id 'dislike' %}">👎</a>
                    
                    {% if workout.id in user_votes %}
                        {% if user_votes.workout.id == 'like' %}
                            <span style="color: green;">You liked this</span>
                        {% elif user_votes.workout.id == 'dislike' %}
                            <span style="color: red;">You disliked this</span>
                        {% endif %}
                    {% endif %}

                    <table class="m-2" > <!-- Exercises Table -->
                        {% for exercise in workout.exercises.all %}
                        <tr>
                            <th>Exercise:</th>
                            <td>{{ exercise.name }}</td>
                        </tr>
                        <tr>
                            <th>Equipment:</th>
                            <td>{{ exercise.equipment }}</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>{{ exercise.description }}</td>
                        </tr>
                        {% empty %}
                            <tr>
                            <td colspan="3">No exercises added to this workout.</td>
                            </tr>
                        {% endfor %}
                    </table>

                </li>
            {% empty %}
                <li> There is no workout found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}