{% extends "layout.html" %}

{% load static %} <!-- Load static -->


<!--Navbar-->
{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

<!-- Main title-->
{% block body %}


<div class="container mt-4">
    <h3 class="text-center mb-4" style="background-color: rgba(240, 248, 255, 0.5);">Welcome to the Olympic Gym for more information play the video</h3>
    <div class="text-center">
        <video controls width="1000" style="max-width: 100%; border-radius: 8px;">
            <source src="{% static 'images/OlympicGym.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>

{% endblock %}


<!--Footer-->
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
